<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/academy</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>

        <mapping resource="ru/javavision/model/Director.hbm.xml" />
        <mapping resource="ru/javavision/model/HeadDepartment.hbm.xml" />
        <mapping resource="ru/javavision/model/Teacher.hbm.xml" />
        <mapping resource="ru/javavision/model/Student.hbm.xml" />
    </session-factory>
</hibernate-configuration>